<!--<div class="row g-5 mb-5">-->
<!--  <div>-->
<!--    <h3 class="fw-bold border-bottom pb-3 mb-5">Research</h3>-->
<!--    {% if page.title == "Home" %}-->
<!--      {% for item in site.data.publications.featured %}-->
<!--        <p><a href="{{ item.url }}">{{ item.name }}</a></p>-->
<!--      {% endfor %}-->
<!--    {% else %}-->
<!--      {% for item in site.data.publications.index %}-->
<!--        <p><a href="{{ item.url }}">{{ item.name }}</a></p>-->
<!--      {% endfor %}-->
<!--    {% endif %}-->
<!--  </div>-->
<!--</div>-->


<div class="container my-5">
    <h2 class=" border-bottom pb-3 mb-5">Research</h2>

<div class="mb-4">
    <h4 class="mb-3">Working Papers</h4>
    {% for item in site.data.research.working_papers %}
        <div class="mb-3">
            <p class="mb-1">
                {% if item.url %}
                    <a href="{{ site.github.url }}/papers/{{ item.url }}" style="font-weight: bold;">{{ item.name }}</a>
                {% else %}
                    <a>{{ item.name }}</a>
                {% endif %}
                
                {% if item.coauthors %}
                    <em>(with 
                    {% for coauthor in item.coauthors -%}
                        <a href="{{ coauthor.url }}">{{ coauthor.name }}</a>{% if forloop.last == false %}, {% endif %}
                    {%- endfor %})</em>
                {% endif %}
            </p>
        </div>
    {% endfor %}
</div>

    <div class="mb-4">
        <h4 class="mb-3">Selected Work in Progress</h4>
        {% for item in site.data.research.works_in_progress %}
            <div class="mb-2">
                <p class="mb-1">
                    <a>{{ item.name }}</a>
                    {% if item.coauthors %}
                        <em>(with 
                        {% for coauthor in item.coauthors %}
                            <a href="{{ coauthor.url }}">{{ coauthor.name }}</a>{% if forloop.last == false %}, {% endif %}
                        {% endfor %})</em>
                    {% endif %}
                </p>
            </div>
        {% endfor %}
    </div>
    

<div class="mb-4">
    <h4 class=" mb-3">Publications</h4>
    {% for item in site.data.research.published_papers %}
        <div class="citation mb-3">
            {% if item.url %}
                <p class="mb-1"><a href="{{ item.url }}" style="text-decoration: none; color: black;">{{ item.citation }}</a></p>
            {% else %}
                <p class="mb-1">{{ item.citation }}</p>
            {% endif %}
        </div>
    {% endfor %}
</div>


</div>

