.my-row {
  margin-bottom: 10 !important;
}

.my-col {
  padding: 10 !important;
}

.my-img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px !important;
}


.my-heading {
  margin-top: 10 !important;
  margin-bottom: 10px !important;
}

.my-content {
  margin-top: 0 !important;
}

.header-description {
  font-size: 1rem;
  text-align: center;
  padding: 10px 0;
}

.navbar-brand {
  font-size: 1em;
  color: #808080;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}
