---
layout: default
---

<!--{{ content }}-->

<div class="container my-5">
  <div>
    <h2 class=" border-bottom pb-3 mb-5">Courses Taught</h2>

  <div class="mb-5">
    <h5 class=" mb-3">Georgia Institute of Technology</h5>
    {% for course in site.data.courses.instructor %}
      <div class="mb-3">
        <a> {{ course.name }}</a>: {{ course.term }}
<!--         <br>
        <em> <a href="{{ site.github.url }}/courses/{{ course.syllabus }}">Syllabus</a>,
        <a href="{{ site.github.url }}/courses/{{ course.evaluation1 }}">Evaluation1</a>,
        <a href="{{ site.github.url }}/courses/{{ course.evaluation2 }}">Evaluation2</a></em> -->
      </div>
    {% endfor %}
  </div>

<!--       <div class="mb-5">
    <h4 class=" mb-3">Teaching Assistant</h4>
    {% for course in site.data.courses.teaching_assistant %}
      <p>
        <a>{{ course.name }}</a>: {{ course.term }}<br>
      </p>
    {% endfor %}
  </div> -->

<!--     <div class="mb-5">
    <h5 class="mb-3">Teaching Awards</h5>
    {% for award in site.data.courses.awards %}
      <div class="mb-3">
        {% if award.url %}
          <a href="{{ award.url }}" target="_blank">{{ award.name }}</a>, {{ award.institution }}, {{ award.date }}
        {% else %}
          <p>{{ award.name }}, {{ award.institution }}, {{ award.date }}</p>
        {% endif %}
      </div>
    {% endfor %}
    </div> -->

  </div>
</div>
